{% extends "orders/base.html" %}

{% block title %}
    Наряды
{% endblock %}

{% block body %}
    <div class="my-2">
    <h3>Наряды</h3>
    <div>

    <div>
       <ul class="list-group">
           {% for order in orders %}
               <ul class="list-group-item">
{#                <a href="{% url 'employees:details' empl.pk %}">{{ empl.name }}</a>#}
                   <b> {{ order.name }}</b>
               <BR>

                {#<b>Рабочие:</b> {{ order.worker.all|join:", " }}#}

               <div class="my-2">
                {% for name in order.worker.all %}
                  {{ name }}
                  <BR>
                {% endfor %}
               </div>

               </ul>

           {% endfor %}


        </ul>
    </div>

{% endblock %}